body{
    background-color: thistle;
}

.footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 5px 0;
        text-align: center;
        color: rgb(132, 132, 177);
}

#clock {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding: 5px 0;
    text-align: right;
}

.title{
    /* margin-top: 5%; */
    flex:1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding:5px;
    text-align: center;
    background-color: rgb(103, 103, 150);
    margin-top: 20px;
    font-size: 25px;
    border-radius: 30px;
}

.buttons{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom : 15px;
}

.button{
    background-color: rgb(197, 190, 190);
    font-size: 25px;
    padding:10px;
    margin: 15px;
    display: block;
    width: 500px;
}

.button:hover{
    background-color: rgb(233, 153, 222);
}