/* 공통 영역 */
#clock {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    padding:5px;
}
body{
    background-color: rgb(242, 244, 248);
}
a{
    text-decoration: none;
}
input{
    display: block;
}
.button{
    background-color: rgb(213, 218, 241);
    font-size: 21px;
    font-weight: 600;
    color : rgba(44, 43, 43, 0.938);
    padding:20px;
    margin: 15px;
    display: block;
    width: 400px;
    text-align: center;
    border-radius: 20px;
}

.button:hover{
    background-color: rgb(137, 145, 184);
    cursor: pointer;
}

/* Landing Page 영역 */
.title{
    flex:1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(136, 156, 201);
    
    font-size: 28px;
    font-weight: bold;
    border-radius: 7px;
}

.buttons{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom : 15px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(132, 132, 177);
    font-size: 14px;
    background-color: rgb(222, 227, 233);
}
.smallfooter{
    font-size: 12px;
}

/* 개별 페이지 영역 */
table{
    width: 98%;
    border-collapse: collapse;
    align-items: center;
    margin: auto;
}

tr, td{
    border:solid 1px;
    text-align: center;
}
.tableDiv{
    padding-top: 25px;
}

.tableTitle{
    font-size: 23px;
    font-weight: bold;
    
}
.tableform{
    padding: 15px;
    margin-top: 15px;
}

.returnButton{
    background-color: rgb(213, 218, 241);
    font-size: 21px;
    font-weight: 600;
    color : rgba(44, 43, 43, 0.938);
    padding: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}
.returnButton:hover{
    background-color: rgb(137, 145, 184);
    cursor: pointer;
}
.subTitle{
    font-size: 40px;
    font-weight: bold;
    height: 80px;
}

.editButton{
    color : rgba(44, 43, 43, 0.938);
    background-color: rgb(213, 218, 241);
    font-size: 21px;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}
.editButton:hover{
    background-color: rgb(137, 145, 184);
    cursor: pointer;
}
.selectDept{
    float: right;
    display: flex;
    margin: 10px;
}
.submitButton{
    display: inline;
    /* color: red; */
}
.searchForm{
    margin-top:20px;
}